<section>
    <div>
        <div class="flex justify-between items-center pb-10">
            <h2 class="text-5xl">Experiencia</h2>
            <a href="#" class="text-xl border-b-2 border-yellow pb-3 ease-in duration-200 hover:border-b-8">Contáctame</a>
        </div>
        <div>
            <div class="pb-5">
                <div class="flex justify-between pb-1.5">
                    <h4 class="text-2xl">Web Leader</h4>
                    <p class="bg-yellow rounded-full p-2 px-4">Fulltime</p>
                </div>
                <div class="flex justify-between">
                    <div class="flex justify-between w-1/3">
                        <p>SPV Scala S.L.</p>
                        <p>Las Palmas</p>
                    </div>
                    <p class="w-2/3 text-right">Oct 2024 - Actualidad</p>
                </div>
            </div>
            <hr class="border-zinc-500">
            <div class="py-5">
                <div class="flex justify-between pb-1.5">
                    <h4 class="text-2xl">Web Leader</h4>
                    <p class="bg-yellow rounded-full p-2 px-4">Fulltime</p>
                </div>
                <div class="flex justify-between">
                    <div class="flex justify-between w-1/3">
                        <p>Wise People S.L.U.</p>
                        <p>Las Palmas</p>
                    </div>
                    <p class="w-2/3 text-right">Mar 2023 - Oct 2024</p>
                </div>
            </div>
            <hr class="border-zinc-500">
            <div class="py-5">
                <div class="flex justify-between pb-1.5">
                    <h4 class="text-2xl">Software Developer</h4>
                    <p class="bg-yellow rounded-full p-2 px-4">Temporal</p>
                </div>
                <div class="flex justify-between">
                    <div class="flex justify-between w-1/3">
                        <p>Fundación Canaria Living Lab</p>
                        <p>Las Palmas</p>
                    </div>
                    <p class="w-2/3 text-right">Nov 2022 - Mar 2023</p>
                </div>
            </div>
            <hr class="border-zinc-500">
            <div class="py-5">
                <div class="flex justify-between pb-1.5">
                    <h4 class="text-2xl">Software Developer</h4>
                    <p class="bg-yellow rounded-full p-2 px-4">Prácticas</p>
                </div>
                <div class="flex justify-between">
                    <div class="flex justify-between w-1/3">
                        <p>ADESCO</p>
                        <p>Telde</p>
                    </div>
                    <p class="w-2/3 text-right">Mar 2021 - May 2021</p>
                </div>
            </div>
            <hr class="border-zinc-500">
        </div>
        <div class="flex justify-between items-center py-10">
            <h2 class="text-5xl">Educación</h2>
        </div>
        <div>
            <div class="pb-5">
                <div class="flex justify-between pb-1.5">
                    <h4 class="text-2xl">CFGS Desarrollo de Aplicación Multiplataforma</h4>
                    <p class="bg-yellow rounded-full p-2 px-4">Fulltime</p>
                </div>
                <div class="flex justify-between">
                    <div class="flex justify-between w-1/3">
                        <p>IES El Rincón</p>
                        <p>Las Palmas</p>
                    </div>
                    <p class="w-2/3 text-right">Sep 2018 - Jun 2021</p>
                </div>
            </div>
            <hr class="border-zinc-500">
        </div>
    </div>
</section>