<header>
    <div>
        <h1>Hola, soy Manuel Navarro</h1>
        <h2>Frontend Developer</h2>
        <p>De la isla de Gran Canaria, soy un apasionado desarrollador con gran interes en aprender y elaborar, soluciones tecnologías web, aplicaciones móviles.</p>
        <button>Contáctame</button>
    </div>
    <div>
        <img src="../../public/assets/images/profile.webp" alt="Manuel Navarro">
    </div>

</header>