<header>
    <div class="flex justify-between items-center">
        <div>
            <h1 class="text-6xl" >Hola, soy <span class="border-b-8 border-yellow">Manuel Navarro</span></h1>
            <h2 class="text-5xl">Frontend Developer</h2>
            <p class="text-xl pt-10 pb-20 w-2/3 text-justify">De la isla de Gran Canaria, soy un apasionado desarrollador con gran interes en elaborar soluciones tecnologías web.</p>
            <a href="#" class="text-2xl border-b-2 border-yellow pb-3 ease-in duration-200 hover:border-b-8">Contáctame</a>
        </div>
        <div class="flex justify-end">
            <img src="../../public/assets/images/profile.webp" alt="Manuel Navarro" class="w-2/3 h-2/3 grayscale">
        </div>
    </div>
</header>