<header>
    <div class="flex justify-between items-center">
        <div>
            <h1 class="text-6xl" >Hola, soy <span class="border-b-8 border-yellow">Manuel Navarro</span></h1>
            <h2 class="text-5xl">Frontend Developer</h2>
            <p class="text-xl pt-10 pb-20 w-2/3 text-justify">De la isla de Gran Canaria, soy un apasionado desarrollador con gran interes en elaborar soluciones tecnologías web.</p>
            <div class="flex gap-20">
                <a href="#" class="text-2xl border-b-2 border-yellow pb-3 ease-in duration-200 hover:border-b-8">Contáctame</a>
                <div class="flex justify-between items-center gap-7">
                    <div>
                        <a href="https://github.com/ManuNH98">
                            <img src="/assets/images/icons/logo-github-dark.svg" alt="Manunh GitHub Profile" class="h-10 w-10 xl:h-12 xl:w-12">
                        </a>
                    </div>
                    <div>
                        <a href="https://www.linkedin.com/in/manuel-navarro-higueras/">
                            <img src="/assets/images/icons/logo-linkedin-dark.svg" alt="Manunh Linkedin Profile"  class="h-8 w-8 xl:h-10 xl:w-10">
                        </a>
                    </div>
                    <div>
                        <a href="https://twitter.com/ManuNH98">
                            <img src="/assets/images/icons/logo-twitter-dark.svg" alt="Manunh Twitter Profile"  class="h-8 w-8 xl:h-10 xl:w-10">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-end">
            <img src="../../public/assets/images/profile.webp" alt="Manuel Navarro" class="w-2/3 h-2/3 grayscale">
        </div>
    </div>
</header>