<nav>
    <div class="flex justify-between items-center flex-col sm:flex-row py-10 gap-3">
        <div>
            <h2 class="text-2xl lg:text-3xl">Manuel Navarro</h2>
        </div>
        <div class="flex justify-between items-center gap-7">
            <div>
                <a href="https://github.com/ManuNH98">
                    <img src="/assets/images/icons/logo-github-dark.svg" alt="Manunh GitHub Profile" class="h-10 w-10 xl:h-12 xl:w-12">
                </a>
            </div>
            <div>
                <a href="https://www.linkedin.com/in/manuel-navarro-higueras/">
                    <img src="/assets/images/icons/logo-linkedin-dark.svg" alt="Manunh Linkedin Profile"  class="h-8 w-8 xl:h-10 xl:w-10">
                </a>
            </div>
            <div>
                <a href="https://twitter.com/ManuNH98">
                    <img src="/assets/images/icons/logo-twitter-dark.svg" alt="Manunh Twitter Profile"  class="h-8 w-8 xl:h-10 xl:w-10">
                </a>
            </div>
        </div>
    </div>
</nav>