<main>
    <div class="grid grid-cols-3">
        <div>
            <h3>HTML</h3>
            <h4>2 Años de Experiencia</h4>
        </div>
        <div>
            <h3>CSS</h3>
            <h4>2 Años de Experiencia</h4>
        </div>
        <div>
            <h3>JavaScript</h3>
            <h4>2 Años de Experiencia</h4>
        </div>
        <div>
            <h3>React</h3>
            <h4>2 Años de Experiencia</h4>
        </div>
        <div>
            <h3>TailwindCSS</h3>
            <h4>2 Años de Experiencia</h4>
        </div>
        <div>
            <h3>React Native</h3>
            <h4>1 Año de Experiencia</h4>
        </div>
    </div>
</main>