<main>
    <div class="flex justify-between items-center pb-10">
        <h2 class="text-5xl">Tech Stack</h2>
        <a href="#" class="text-xl border-b-2 border-yellow pb-3 ease-in duration-200 hover:border-b-8">Contáctame</a>
    </div>
    <div class="grid grid-cols-3">
        <div>
            <h3 class="text-4xl">HTML</h3>
            <h4 class="text-xl text-zinc-400">2 Años de Experiencia</h4>
        </div>
        <div>
            <h3 class="text-4xl">CSS</h3>
            <h4 class="text-xl text-zinc-400">2 Años de Experiencia</h4>
        </div>
        <div>
            <h3 class="text-4xl">JavaScript</h3>
            <h4 class="text-xl text-zinc-400">2 Años de Experiencia</h4>
        </div>
        <div>
            <h3 class="text-4xl">TailwindCSS</h3>
            <h4 class="text-xl text-zinc-400">2 Años de Experiencia</h4>
        </div>
        <div>
            <h3 class="text-4xl">React</h3>
            <h4 class="text-xl text-zinc-400">1 Año de Experiencia</h4>
        </div>
        <div>
            <h3 class="text-4xl">React Native</h3>
            <h4 class="text-xl text-zinc-400">1 Año de Experiencia</h4>
        </div>
    </div>
</main>